<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Marcajes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Marcajes.Properties.Settings>
            <setting name="instanciaSQL" serializeAs="String">
                <value>Data Source=.\FDS; Initial Catalog=promedatos; Trusted_Connection=True; MultipleActiveResultSets=True;</value>
            </setting>
            <setting name="pathTrabajo" serializeAs="String">
                <value>D:\FDS\Marcajes</value>
            </setting>
        </Marcajes.Properties.Settings>
    </userSettings>
</configuration>